.input{
    width: 100%;
    height: 30px;
    left: 315px;
    background: rgba(255, 255, 255, 0.25);
    border-radius: 50px;
    padding: 5px 50px;
    border: none;
    margin-top: 10px;
    box-sizing: border-box;
    font-size:  20px;
    font-family: Simpsonfont, sans-serif;
    color: #141647;

}
::placeholder{
    font-size: 20px;
    color: rgba(255, 255, 255, 0.5);
}

.input:focus{
    border: none;
    outline: 0;
}