@font-face {
    font-family: Simpsonfont;
    src: url("fonts/Simpsonfont.ttf");
}
body{
    background: url('./images/bg.png');
    background-size: cover;
    font-family: Simpsonfont, sans-serif;
}